{% extends "basic.html" %} 
{% block title %}CleverCooks | Profile{% endblock title %} 
{% block body %}
<div class="container my-5">
    <div class="row">
      <div class="card text-dark bg-light mb-3">
        <div class="card-header">
          {{user.username}}'s Profile
        </div>
        <div class="card-body">
          <p class="card-text"><strong>Username: </strong>{{user.username}}</p>
          <p class="card-text"><strong>First Name: </strong>{{user.first_name}}</p>
          <p class="card-text"><strong>Last Name: </strong>{{user.last_name}}</p>
          <p class="card-text"><strong>Bio: </strong>{{user.bio}}</p>
          <p class="card-text"><strong>Email: </strong>{{user.email}}</p>
          <p class="card-text"><strong>Mobile: </strong>{{user.mobile}}</p>
          <a href="/editprofile" class="btn btn-primary">Edit Profile</a>
        </div>
      </div>
    </div>
</div>
{% endblock body %}
