{% extends "basic.html" %}
{% block title %}About Us{% endblock title %}
{% block body %}
{% load static %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                <center><h2>About Us</h2></center>
                <h3>Namaste!</h3>
                <p>We are glad that you are here and thank you for stopping by on CleverCook's Recipes. -a blog which has pure vegetarian recipes, mostly Indian but some World Cuisine as well.</p>
                <p>Most of the recipes are in step by step pictorial guide. They are easy to understand and relate too. Some recipes have short videos with the stepwise photo guide.</p>
                <h3>About The Recipes</h3>
                <p>We have 1800 vegetarian recipes shared in this span of 1 year and is one of the largest collection of pure Indian vegetarian recipes which have been tried and tested and presented with step by step photos.</p>
                <p>The recipes are also shared with many tips and suggestions so that it is easier for anyone to make them easily.</p>
                <p>Many of our blog fans, readers and patrons love our recipes. We are also grateful to our readers for giving us blessings, positive vibes and good wishes.</p>
                <p>Positive energy does make a difference. The testimonial to this fact is the hundreds of positive comments, reviews and mentions we have on our popular recipes</p>
            </div>
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/denish.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Denish Shihora</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <p>All the recipes are tried and tested in our kitchen first and then only shared on the blog. I keep the homemaker in mind and make the recipes. So that it is easy and one does not have to hunt around for ingredients – specifically ingredients which are not easily available in India.</p>
                <p>The recipes shared are posted by some users and also taken from our families, relatives, friends. Some recipes are adapted from cookbooks. </p>
                <h3>Our Food Motto</h3>
                <p>We always prefer home cooked food whether it is making a simple Pizza or a loaf of bread or Chocolate Cake. We believe in cooking with fresh ingredients that are easily available.</p>
                <p>We avoid using heavily processed food or junk food. As a result we have sound health in our family. Eat healthy and stay healthy is our motto.</p>
                <p>On the blog you will find many healthy recipes made with whole grains and cereals. Even in many of my baking recipes, I have used healthy ingredients wherever possible.</p>
                <p>Even before I started to blog, I would buy organic and this habit has stayed even today. All our grocery stuff is organic produce from grains to sugar and flours.</p>
                <p>We even purchase organic vegetables and fruits. I cannot get all the vegetables & fruits organic in India. But I do buy whatever we can. Hence you will see fewer gourmet fruits or imported vegetables recipes on the blog.</p>
                <p>We buy local vegetables and fruits to ensure that this supports the farmers of our country.</p>
                <p>We also make sure to share some regional recipes made from rare ingredients or veggies which are not very popular or well known. We have tried to share at least one recipe of such an ingredient. E.g. We have covered many gourd varieties.</p>
                <p></p>
            </div>
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/Dhruv.jpg" class="card-img-top" alt="..." height=350px>
                    <div class="card-body">
                      <h5 class="card-title">Dhruv Bundheliya</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <h3>Using Recipes</h3>
                <p>If you have made and liked our recipe and want to add it in your website, blog or make a youtube video. Then please do the following:</p>
                <p>1.  Write the recipe method or instructions in your own words instead of copying and pasting ours.</p>
                <p>2. Do write your own titles and headings. Please do not copy ours.</p>
                <p>3. Also do credit the recipe author that is myself (dassana) by name and provide a real link back to the source recipe page.</p>
                <p>It is a good practice to write the recipe in your own words and give a real link back to the author and the recipe source. It maintains your credibility and authenticity not only with your readers but deep down you will also feel good. Honesty and sincerity are two best friends one should never leave.</p>

                <h3>Get In Touch</h3>
                <p>You can email us at clecercooks@gmail.com if you have any query which you are not comfortable sharing in the comment or want to send us a photo of any recipe you made from the website.</p>
            </div>
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                    <img src="static/milan.png" class="card-img-top" alt="..." height=300px>
                    <div class="card-body">
                      <h5 class="card-title">Milan Polara</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    {% endblock body %}