{% extends "basic.html" %}
{% block title %}CleverCooks | Post-Recipe{% endblock title %}
{% block body %}
  <br>
  <br>
  <br>
  <div class="container">
    <div class="col-sm-12">
      <form action="" method="POST">
        {% csrf_token %}
        <br>

        <label for="id_title">Title:</label>
        <br>
        <input type="text" name="title" maxlength="200" required id="id_title">
        <br>
        <label for="id_image">Image:</label><br>
        <input type="file" name="image" accept="image/*" required id="id_image"><br>

        <label for="id_serves">Serves:</label><br>
        <input type="text" name="serves" maxlength="50" required id="id_serves"><br>

        <label for="id_time">Time:</label><br>
        <input type="text" name="time" maxlength="50" required id="id_time"><br>

        <label for="id_ingredients">Ingredients:</label><br>
        <textarea name="ingredients" cols="40" rows="10" required id="id_ingredients"></textarea><br>

        <label for="id_steps">Steps:</label><br>
        <textarea name="steps" cols="40" rows="10" required id="id_steps"></textarea><br>

        <input type="submit" value="Submit" class="btn btn-primary" />
      </form>
    </div>
  </div>
  {% endblock body %}